/*body {*/
/*    background-color: black;*/
/*}*/

:root {
    --border-height: 50px;
}

* {
    margin: 0;
    padding: 0;


}

/*@media (max-width: 600px) {*/
/*    #grain {*/
/*        transform: rotate(90deg);*/
/*        !*background-size: cover;*!*/
/*        !*float: top;*!*/
/*        !*width: 100%;*!*/
/*        !*height: 100%;*!*/
/*    }*/

/*}*/

#grain {
    position: absolute;
    width: 100%;
    height: 100%;
}

#canvas{
    position: absolute;
    float: left;
}

.border {
    position: fixed;
    /*width: 10%;*/
    /*height: 10%;*/

}

#topLeft {
    width: 13.3%;
    top: 0px;
    left: 0px;
}

#top {
    width: 100%;
    top: 0px;
    /*left: 40px;*/

    /*background-size: cover;*/
}

#bottom {
    width: 100%;
    bottom: 0px;

}

#bottomLeft{
    width: 13.9%;
    bottom: 0px;
    left: 0px;
}

#bottomRight{
    width: 11.5%;
    bottom: 0px;
    right: 0px;
}

#topRight{
    width: 10.95%;
    top: 0px;
    right: 0px;
}

#left {
    height: 100%;
    width: 8.5vw;

    left: 0px;
}

#right {
    position: absolute;
    height: 100%;
    width: 8.5vw;
    right: 0px;
}




html, body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
